@model Emart.Data.ItemSubCategory

<form asp-action="DeleteSubCategory">
    <span class="text-warning">@ViewBag.Removesub</span>
    <input type="hidden" asp-for="ItemSubCategoryId" />
    <br />
    <div class="container border p-3">
        <h1 class="text-success">Delete Item Subcategory</h1>
        <hr />
        <div class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="col-2">
                <label asp-for="ItemSubCategoryName" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ItemSubCategoryName" class="form-control" />
                <span asp-validation-for="ItemSubCategoryName" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label asp-for="ItemCategoryId" class="control-label pt-2" style="font-size:20px;"></label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="ItemCategoryId" class="form-control" />
                <span asp-validation-for="ItemCategoryId" class="text-danger"></span>
            </div>

            <div class="col-5">
                <input type="submit" value="Delete" class="btn btn-danger form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
